.card-image {
  width: 100%;
}

.card {
  padding: 10px 20px;
  border-radius: 5px;
  background: whitesmoke;
}

.card:hover {
  box-shadow: 1px 5px 15px darkgray;
}

.card-body {
  padding: 20px;
}

.card-buttons {
  display: flex;
  justify-content: center;
}
