.card-image {
  width: 100%;
}

.card {
  border: 1px solid rgba(127, 127, 127, 0.5);
  padding: 0 0 10px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 1px 5px 15px rgba(127, 127, 127, 0.5);
}

.card-body {
  padding: 20px;
}
