.main {
  width: 100%;
  min-height: 100vh;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.main-text {
  padding-top: 100px;
  font-size: 60px;
  text-align: center;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-text span::after {
  content: "";
  animation: change-text 5s linear infinite;
}

@keyframes change-text {
  0% {
    content: "Get Your Ico Published.";
  }
  50% {
    content: "Get Your Ico Reviewed.";
  }
  100% {
    content: "Get Your Ico Rated.";
  }
}

.bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.main .publish-button a {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bttn {
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 17px;
  letter-spacing: 0.045em;
}

.bttn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.bttn svg rect {
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.bttn span {
  background: rgb(255, 130, 130);
  background: -moz-linear-gradient(
    left,
    rgba(255, 130, 130, 1) 0%,
    rgba(225, 120, 237, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 130, 130, 1) 0%,
    rgba(225, 120, 237, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 130, 130, 1) 0%,
    rgba(225, 120, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#ff8282",
      endColorstr="#e178ed",
      GradientType=1
    );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bttn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

.stats {
  margin-top: 60px;
  left: 0px;
  right: 0px;
}

.stats .row {
  text-align: center;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #fefefe;
  width: 100%;
  margin: auto 0;
}

.purple {
  background-color: rgba(39, 84, 186, 0.4);
}

.blue {
  background-color: rgba(18, 57, 98, 0.5);
}

.blue2 {
  background-color: rgba(0, 174, 230, 0.5);
}

.row.is-flex {
  display: flex;
}

.purple,
.blue2,
.blue {
  font-size: 15px;
  padding: 15px;
  cursor: pointer;
}

.stats .grid {
  padding: 0;
  margin: 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .purple,
  .blue2,
  .blue {
    font-size: 24px;
  }
}
